#!/bin/bash -l
#SBATCH --ntasks={{ num_processes }}
#SBATCH --ntasks-per-node={{ procs_per_node }}
#SBATCH --cpus-per-task=1
#SBATCH --nodes={{ num_nodes }}
#SBATCH --partition={{ partition }}
#SBATCH --time={{ time_limit }}
#SBATCH --exclusive
#SBATCH --output={{ output_dir }}/{{ job_name }}-%j.log
#SBATCH --job-name={{ job_name }}

. /global/exafs/groups/gh/bootstrap-env.sh
module purge
module load gcc/13.3.0-gcc-11.4.1
module load cuda/12.5.1-gcc-13.3.0

source ${SCRATCH_DDN}/hpcx-v2.22.1-gcc-doca_ofed-redhat9-cuda12-aarch64/hpcx-init.sh
hpcx_load

cd ${SCRATCH_DDN}

# Run the benchmark
{{ mpi_cmd }}