#!/bin/bash -l
#SBATCH --ntasks={{ num_processes }}
#SBATCH --ntasks-per-node={{ procs_per_node }}
#SBATCH --cpus-per-task=1
#SBATCH --nodes={{ num_nodes }}
#SBATCH --partition={{ partition }}
#SBATCH --time={{ time_limit }}
#SBATCH --exclusive
#SBATCH --output={{ output_dir }}/{{ job_name }}-%j.log
#SBATCH --job-name={{ job_name }}
{% if reservation %}
#SBATCH --reservation={{ reservation }}
{% endif %}

module use /hpc/local/etc/modulefiles/
module load hpcx-ga-gcc dev/cuda-latest

# Run the benchmark
{{ mpi_cmd }}