#!/bin/bash -l
#SBATCH --ntasks={{ num_processes }}
#SBATCH --ntasks-per-node={{ procs_per_node }}
#SBATCH --cpus-per-task=1
#SBATCH --nodes={{ num_nodes }}
#SBATCH --partition={{ partition }}
#SBATCH --time={{ time_limit }}
#SBATCH --exclusive
#SBATCH --output={{ output_dir }}/{{ job_name }}-%j.log
#SBATCH --job-name={{ job_name }}

. /global/exafs/groups/gh/bootstrap-env.sh
module purge
module load hpcx-gcc
module load dev/cuda-latest

source /scrap/users/ikryukov/hpcx/hpcx-init.sh
hpcx_load

# Run the benchmark
{{ mpi_cmd }}